#toppanel
  #panel
    .content.clearfix
      .left
        %h1 Welcome to Solehi NHS
        %h2 A Chapter of National Honor Society		
        %p.grey You can put anything you want in this sliding panel: videos, audio, images, forms... The only limit is your imagination!
        %h2 Download
        %p.grey
          To download this script go back to
          = link_to 'article »',{},{:href=>'http://web-kreation.com/index.php/tutorials/nice-clean-sliding-login-panel-built-with-jquery'}
      .left.right
        - form_tag backend_sessions_path do
          %h1 Member Login
          %label.grey{:for=>'log'} Username:
          = text_field_tag :email, nil, {:style=>'height:13px', :id=>'log', :class=>'field'}
          %label.grey{:for=>'pwd'} Password:
          = password_field_tag :password, nil, {:style=>'height:13px', :id=>'pwd', :class=>'field'}
          %br
          %label
            = check_box_tag :rememberme
            &nbsp; Remember Me
          .clear
          = submit_tag :Login, :class=>'bt_login'
          = link_to 'Lost your password?',{}, {:class=>'lost-pwd'}

  .tab
    %ul.login
      %li.left &nbsp;
      %li Welcome, #{(defined? name)? "Guest" : name }!
      %li#toggle
        - if controller_name == "base"
          = link_to :Logout, backend_session_path(1), :method => :delete, :class => 'close', :style=>'width: 45px;'
        - else
          %a.open#open{:style=>'cursor:hand'} Login | Register
          %a.close#close{:style=>'display: none;cursor:hand'} Close
      %li.right &nbsp;